@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary text-1 text-base m-auto leading-6 font-normal max-w-[1440px];
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  input {
    @apply outline-primary-color;
  }

  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear {
    display: none;
  }
}

@layer components {
  .spinner {
    @apply inline-block h-6 w-6 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite];
  }
}

@layer utilities {
  input:focus + .error-input {
    @apply hidden;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }
  .flex-col {
    display: flex;
    flex-direction: column;
  }
  .shadow-nav {
    box-shadow: 10px 10px 20px 0px rgba(218, 213, 213, 0.15);
  }

  .active {
    @apply text-primary-color bg-primary-extra;
  }
}

.quill {
  @apply border border-whitsh-strock rounded-lg px-4 py-6 flex items-center flex-col md:h-[420px] h-[238px];

  .ql-toolbar.ql-snow {
    @apply bg-4/10 border-none inline-block rounded-lg py-3 px-5;
  }
  .ql-container.ql-snow {
    @apply w-full border-none font-primary text-sm text-1 pt-6;
  }
  .ql-editor.ql-blank::before {
    @apply text-sm text-4 font-normal not-italic;
  }
}

.overlay-banner {
  background: linear-gradient(179deg, rgba(32, 18, 63, 0) -7.14%, #000 87.01%);
  opacity: 0.4;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}
