@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary text-base leading-6 font-normal;
  }
  input {
    @apply outline-primary-color;
  }

  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear {
    display: none;
  }
}

@layer components {
  .spinner {
    @apply inline-block h-6 w-6 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite];
  }
}

@layer utilities {
  input:focus + .error-input {
    @apply hidden;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }
  .flex-col {
    display: flex;
    flex-direction: column;
  }
  .shadow-nav {
    box-shadow: 10px 10px 20px 0px rgba(218, 213, 213, 0.15);
  }
}
